<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="iexpl"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="iexpl"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}" class="{{ class }} {{ opacity_cont_class }}">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
<base href="{{ base }}" />
{% if (description) %} 
<meta name="description" content="{{ description }}" />
{% endif %} 
{% if (keywords) %} 
<meta name="keywords" content= "{{ keywords }}" />
{% endif %} 
<meta property="og:title" content="{{ title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ og_url }}" />
<meta property="og:image" content="{{ og_image is not empty ? og_image : logo }}" />
<meta property="og:site_name" content="{{ name }}" />
{% if (not setting_all_settings['minif_on']) %} 
	<link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
	<link href="catalog/view/javascript/revolution/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
	<link href="catalog/view/theme/revolution/stylesheet/stylesheet.css" rel="stylesheet">
	{% if (setting_all_settings['n_progres']) %} 
	<link href="catalog/view/javascript/revolution/nprogress.css" rel="stylesheet">
	{% endif %} 
	<link href="catalog/view/javascript/revolution/jasny-bootstrap.min.css" rel="stylesheet">
	<link href="catalog/view/javascript/revolution/magnific-popup.css" rel="stylesheet" media="screen" />
	<link href="catalog/view/javascript/revolution/owl-carousel/owl.carousel.css" type="text/css" rel="stylesheet" media="screen">
	{% if (setting_all_settings['mobile_header'] == '2') %} 
	<link href="catalog/view/javascript/revolution/jquery.mmenu.css" rel="stylesheet">
	{% endif %} 
	<link href="catalog/view/theme/revolution/stylesheet/stylesheet_change.css" rel="stylesheet">
{% else %} 
	<link href="catalog/view/theme/revolution/stylesheet/stylesheet_min.css" rel="stylesheet">
	<link href="catalog/view/theme/revolution/stylesheet/stylesheet_min_1.css" rel="stylesheet">
{% endif %} 
<style>
{% if (revtheme_header_popupphone['under_phone'] and not dop_contacts) %} 
#top2 .tel .s22:hover {cursor: default !important;}
{% if (header_phone_text != '' and header_phone_text2 == '') %} 
#top2 .tel .header_phone_image {vertical-align: top; padding-top: 15px;}
{% elseif (header_phone_text != '' and header_phone_text2 != '') %} 
#top2 .tel .header_phone_image {vertical-align: top; padding-top: 30px;}
{% else %} 
#top2 .tel .header_phone_image {vertical-align: top; padding-top: 0;}
{% endif %} 
{% endif %} 
{% if (header_phone_text != '' and header_phone_text2 == '') %} 
#top2 .search {margin-top: 22px;}
#top2 #logo {margin-top: 8px;}
{% elseif (header_phone_text != '' and header_phone_text2 != '') %} 
#top2 .search {margin-top: 35px;}
#top2 #logo {margin-top: 20px;}
{% endif %} 
{% if (config_customer_price) %} 
.zatemnenie_img {-webkit-filter: initial; filter: initial; opacity: 1;}
{% endif %} 
</style>
{% for style in styles %} 
<link href="{{ style['href'] }}" type="text/css" rel="{{ style['rel'] }}" media="{{ style['media'] }}" />
{% endfor %} 
<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js"></script>
<script src="catalog/view/javascript/jquery/owl-carousel/owl.carousel.min.js"></script>
{% for link in links %} 
<link href="{{ link['href'] }}" rel="{{ link['rel'] }}" />
{% endfor %} 
{% for script in scripts %} 
<script src="{{ script }}"></script>
{% endfor %} 
<script><!--
function max_height_div(div){var maxheight = 0;$(div).each(function(){$(this).removeAttr('style');if($(this).height() > maxheight){maxheight = $(this).height();{{ '}}' }});$(div).height(maxheight);}
//--></script>

<!-- SaleStorm Service -->
<script type='text/javascript'>

var IPCHFEmail = 'boichuk.s.y@gmail.com';
var intepriceCallHunterFolder='/callhunter/';  

(function(d) { var s = d.createElement('script');
s.type ='text/javascript'; s.charset = 'utf-8';	s.async = true;
s.src = 'https://cdn.sale-storm.com/wd/support/support.js?v=702';
var sc = d.getElementsByTagName('script')[0];
if (sc) sc.parentNode.insertBefore(s, sc);
else d.documentElement.firstChild.appendChild(s);
})(document);</script>
<!-- End SaleStorm Service -->

{% for analytic in analytics %} 
{{ analytic }} 
{% endfor %} 
</head>
<body>
<div class="all_content_mmenu">
{% if (setting_all_settings['mobile_header'] == '2' and is_mobile) %} 
	<!--noindex-->
	<nav id="mobil_mmenu" class="dnone">
		<ul id="panel-menu">
			{% if (rev_acc) %} 
				<li><span><i class="fa fa-user"></i> {{ text_revlogged }}</span>
					<ul>
						{% if (logged) %} 
							<li><a href="{{ account }}" rel="nofollow">{{ text_account }}</a></li>
							{% if (setting_all_settings['revaccount_orders'] is defined and setting_all_settings['revaccount_orders']) %} 
								<li><a href="{{ order }}" rel="nofollow">{{ text_rev_text_order }}</a></li>
							{% endif %} 
							{% if (setting_all_settings['revaccount_files'] is defined and setting_all_settings['revaccount_files']) %} 
								<li><a href="{{ download }}" rel="nofollow">{{ text_rev_text_download }}</a></li>
							{% endif %} 
							<li><a href="{{ logout }}" rel="nofollow">{{ text_logout }}</a></li>
						{% else %} 
							{% if (popup_login) %} 
								<li><a href="javascript:void(0);" onclick="get_revpopup_login();" rel="nofollow">{{ text_login }}</a></li>
							{% else %} 
								<li><a href="{{ login }}" rel="nofollow">{{ text_login }}</a></li>
							{% endif %} 
							<li><a href="{{ register }}" rel="nofollow">{{ text_register }}</a></li>
						{% endif %} 
					</ul>
				</li>
			{% endif %} 
			{% if (informations or revtheme_header_links or revtheme_dop_menus_2 or revtheme_dop_menus_3) %} 
				<li><span><i class='fa fa-info'></i> {{ text_header_information }}</span>
					<ul>
					{% for information in informations %} 
						<li><a href="{{ information['href'] }}" rel="nofollow">{{ information['title'] }}</a></li>
					{% endfor %} 
					{% if (revtheme_header_links) %} 
						{% for revtheme_header_link in revtheme_header_links %} 
							<li><a href="{{ revtheme_header_link['link'] }}" rel="nofollow">{{ revtheme_header_link['title'] }}</a></li>
						{% endfor %} 
					{% endif %} 
					{% if (revtheme_dop_menus_2) %} 
						{% for revtheme_dop_menu in revtheme_dop_menus_2 %} 
							<li>
								<a href="{{ revtheme_dop_menu['href'~config_language_id] }}" rel="nofollow">{{ revtheme_dop_menu['name'~config_language_id] }}</a>
								{% if (revtheme_dop_menu['children'] is defined) %}
									<ul class="list-unstyled">
										{% for child in revtheme_dop_menu['children'] %}
											<li><a href="{{ child['href'~config_language_id] }}" rel="nofollow">{{ child['name'~config_language_id] }}</a></li>
										{% endfor %}
									</ul>
								{% endif %}
							</li>
						{% endfor %} 
					{% endif %} 
					{% if (revtheme_dop_menus_3) %} 
						{% for revtheme_dop_menu in revtheme_dop_menus_3 %} 
							<li>
								<a href="{{ revtheme_dop_menu['href'~config_language_id] }}" rel="nofollow">{{ revtheme_dop_menu['name'~config_language_id] }}</a>
								{% if (revtheme_dop_menu['children'] is defined) %}
									<ul class="list-unstyled">
										{% for child in revtheme_dop_menu['children'] %}
											<li><a href="{{ child['href'~config_language_id] }}" rel="nofollow">{{ child['name'~config_language_id] }}</a></li>
										{% endfor %}
									</ul>
								{% endif %}
							</li>
						{% endfor %} 
					{% endif %} 
					</ul>
				</li>
			{% endif %} 
			{% if (revtheme_dop_menus or (cats_status and categories) or revtheme_header_menu_links) %} 
				<li><span><i class="fa fa-bars"></i> {{ text_mobile_catalog }}</span>
					<ul>
						{% if (revtheme_dop_menus) %} 
							{% for revtheme_dop_menu in revtheme_dop_menus %} 
								<li>
									{% if revtheme_dop_menu['href'~config_language_id] %}
									<a href="{{ revtheme_dop_menu['href'~config_language_id] }}" rel="nofollow">{% if (revtheme_dop_menu['icontype'] == 'iconka' and revtheme_dop_menu['dop_menu_iconka'] is defined) %} <span class="am_category_image"><i class="{{ revtheme_dop_menu['dop_menu_iconka'] }}"></i></span> {% else %} {% if (revtheme_dop_menu['dop_menu_image']) %} <span class="am_category_image"><img src="{{ revtheme_dop_menu['dop_menu_image'] }}" alt=""></span> {% endif %} {% endif %} {{ revtheme_dop_menu['name'~config_language_id] }}</a>
									 {% else %}
										<span>{% if (revtheme_dop_menu['icontype'] == 'iconka' and revtheme_dop_menu['dop_menu_iconka'] is defined) %} <span class="am_category_image"><i class="{{ revtheme_dop_menu['dop_menu_iconka'] }}"></i></span> {% else %} {% if (revtheme_dop_menu['dop_menu_image']) %} <span class="am_category_image"><img src="{{ revtheme_dop_menu['dop_menu_image'] }}" alt=""></span> {% endif %} {% endif %} {{ revtheme_dop_menu['name'~config_language_id] }}</span>
									{% endif %}
									{% if (revtheme_dop_menu['children'] is defined) %} 
										<ul class="list-unstyled">
											{% for child in revtheme_dop_menu['children'] %} 
												<li>
													{% if revtheme_dop_menu['href'~config_language_id] != '' %}
														<a href="{{ child['href'~config_language_id] }}" rel="nofollow">{{ child['name'~config_language_id] }}</a>
													 {% else %}
														<span>{{ child['name'~config_language_id] }}</span>
													{% endif %}
													{% if (tri_level and child['children'] is defined) %}
														<ul class="list-unstyled">
															{% for child in child['children'] %}
																<li><a href="{{ child['href'~config_language_id] }}" rel="nofollow">{{ child['name'~config_language_id] }}</a></li>
															{% endfor %}
														</ul>
													{% endif %}
												</li>
											{% endfor %} 
										</ul>
									{% endif %} 
								</li>
							{% endfor %} 
						{% endif %}
						{% if (cats_status) %} 
							{% for category in categories %} 
								<li>
									<a href="{{ category['href'] }}" rel="nofollow">{{ category['name'] }}</a>
									{% if (category['children']) %} 
										<ul>
											{% for child in category['children'] %} 
												<li>
													<a href="{{ child['href'] }}" rel="nofollow">{{ child['name'] }}</a>
													{% if (tri_level and child['children']) %} 
														<ul class="list-unstyled">
															{% for child in child['children'] %} 
																<li><a href="{{ child['href'] }}" rel="nofollow">{{ child['name'] }}</a></li>
															{% endfor %} 
														</ul>
													{% endif %} 
												</li>
											{% endfor %} 
										</ul>
									{% endif %} 
								</li>
							{% endfor %} 
						{% endif %} 
						{% if (revtheme_header_menu_links) %} 
							{% for revtheme_header_menu_link in revtheme_header_menu_links %} 
								<li><a href="{{ revtheme_header_menu_link['link'] }}" rel="nofollow">{{ revtheme_header_menu_link['title'] }}</a></li>
							{% endfor %} 
						{% endif %} 
					</ul>
				</li>
			{% endif %} 
			{% if (manuf_status) %} 
				<li><span><i class="fa fa-folder"></i> {{ text_revmenu_manufs }}</span>
					{% if (categories_m) %} 
						<ul>
							{% for category in categories_m %} 
									{% if (category['manufacturer']) %} 
										{% for manufacturers in category['manufacturer'] %} 
											<li><a href="{{ manufacturers['href'] }}" rel="nofollow">{{ manufacturers['name'] }}</a></li>
										{% endfor %} 
									{% endif %} 
							{% endfor %} 
						</ul>
					{% endif %} 
				</li>
			{% endif %} 
			{% for information in informations2 %} 
				<li><a href="{{ information['href'] }}" rel="nofollow">{{ information['title'] }}</a></li>
			{% endfor %} 
			{% if (revtheme_header_links2) %} 
				{% for revtheme_header_link2 in revtheme_header_links2 %} 
					<li><a href="{{ revtheme_header_link2['link'] }}" rel="nofollow">{{ revtheme_header_link2['title'] }}</a></li>
				{% endfor %} 
			{% endif %} 
			{% if (revblog_status and blog_categories) %} 
				{% for category in blog_categories %} 
					<li class="revblog_mobil_in_menu">
						<a href="{{ category['href'] }}" rel="nofollow">{{ category['name'] }}</a>
						{% if (category['children']) %} 
							<ul>
								{% for child in category['children'] %} 
									<li>
										<a href="{{ child['href'] }}" rel="nofollow">{{ child['name'] }}</a>
										{% if (tri_level and child['children']) %} 
											<ul class="list-unstyled">
												{% for child in child['children'] %} 
													<li><a href="{{ child['href'] }}" rel="nofollow">{{ child['name'] }}</a></li>
												{% endfor %} 
											</ul>
										{% endif %} 
									</li>
								{% endfor %} 
							</ul>
						{% endif %} 
					</li>
				{% endfor %} 
			{% endif %} 
			<li class="li_mobsearch_two"><span class="mobsearch_two"></span></li>
		</ul>
		<ul id="panel-language">
			{% if (revtheme_header_popupphone['status']) %} 
				<li class="Divider">
					<a class="mob_telef" onclick="get_revpopup_phone();"><i class="fa fa-phone" aria-hidden="true"></i> {{ text_header_revpopup_phone }}</a>
				</li>
			{% endif %} 
			{% if (header_phone_text) %} 
				<li class="Divider">{{ header_phone_text }}</li>
			{% endif %} 
			{% if (header_phone_text2) %} 
					<li class="Divider">{{ header_phone_text2 }}</li>
				{% endif %} 
			{% if (header_phone_number) %} 
				<li class="Divider">
					<a href="tel:{{ header_phone_cod is defined ? header_phone_cod : '' }}{{ header_phone_number }}" rel="nofollow">{% if (header_phone_cod) %}{{ header_phone_cod }}{% endif %} {{ header_phone_number }}</a>
				</li>
			{% endif %} 
			{% if (header_phone_number2) %} 
				<li class="Divider">
					<a href="tel:{{ header_phone_cod2 is defined ? header_phone_cod2 : '' }}{{ header_phone_number2 }}" rel="nofollow">{% if (header_phone_cod2) %}{{ header_phone_cod2 }}{% endif %} {{ header_phone_number2 }}</a>
				</li>
			{% endif %} 
			{% if (dop_contacts) %} 
				{% for dop_contact in dop_contacts %} 
					{% if (dop_contact['href']) %} 
						<li class="Divider">
							<a href="{{ dop_contact['href'] }}" rel="nofollow">{{ dop_contact['icon'] }} {{ dop_contact['number'] }}</a>
						</li>
					{% else %} 
						<li class="Divider">{{ dop_contact['icon'] }} {{ dop_contact['number'] }}</li>
					{% endif %} 
				{% endfor %} 
			{% endif %} 
			{% if (phone_dop_text2|length > 30) %} 
				<li class="Divider wrspnormal">
					{{ phone_dop_text2 }} 
				</li>
			{% endif %} 
		</ul>
	</nav>
	<!--/noindex-->
{% endif %}  
{% if (microdata_status) %} 
	<div itemscope itemtype="http://schema.org/Organization" style="display:none;">
		<meta itemprop="name" content="{{ name }}" />
		<link itemprop="url" href="{{ og_url }}" />
		<link itemprop="logo" href="{{ logo }}" />
		{% if (description) %} 
			<meta itemprop="description" content="{{ description }}" />
		{% endif %} 
		{% if (microdata_postcode and microdata_city and microdata_adress) %} 
			<div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
				<meta itemprop="postalCode" content="{{ microdata_postcode }}" />
				<meta itemprop="addressLocality" content="{{ microdata_city }}" />
				<meta itemprop="streetAddress" content="{{ microdata_adress }}" />
			</div>
		{% endif %} 
		{% if (microdata_phones) %} 
			{% for microdata_phone in microdata_phones %} 
				<meta itemprop="telephone" content="{{ microdata_phone }}" />
			{% endfor %} 
		{% endif %} 
		<meta itemprop="email" content="{{ microdata_email }}" />	
		{% if (microdata_social) %} 
		{% for microdata_soc in microdata_social %} 
		<link itemprop="sameAs" href="{{ microdata_soc }}" />
		{% endfor %} 
		{% endif %} 
	</div>
{% endif %} 
{% if (setting_all_settings['zatemn_cont']) %} 
<div id="pagefader"></div>
{% endif %} 
<div id="pagefader2"></div>
{% if (is_mobile) %} 
<!--noindex-->
<div class="hidden-md hidden-lg">
	<nav class="mobilemenu navmenu mobcats navmenu-default navmenu-fixed-left offcanvas">
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav">
				<li><button data-toggle="offcanvas" data-target=".mobcats" data-canvas="body">{{ text_header_back }}<i class="fa fa-chevron-right"></i></button></li>
				{% if (setting_all_settings['mobile_header'] and (informations2 or revtheme_header_links2)) %} 
					<li class="mobile_header_type_two">
						<span class="mmbutton">{{ text_mobile_catalog }} 
							<span class="chevrond" data-toggle="collapse"><i class="fa fa-plus on"></i><i class="fa fa-minus off"></i></span>
						</span>
						<div class="collapse list-group-submenu mobile_header_type_two_collapse">
							<ul class="list-unstyled"> 
				{% endif %}			
										{% if (revtheme_dop_menus) %} 
											{% for revtheme_dop_menu in revtheme_dop_menus %} 
												<li>
													<a href="{{ revtheme_dop_menu['href'~config_language_id] != '' ? revtheme_dop_menu['href'~config_language_id] : '#'}}" {{ revtheme_dop_menu['href'~config_language_id] != '' ? '' : "onclick='return false;'" }} rel="nofollow">{{ revtheme_dop_menu['name'~config_language_id] }} {% if (revtheme_dop_menu['children'] is defined) %} <span class="chevrond" data-toggle="collapse"><i class="fa fa-plus on"></i><i class="fa fa-minus off"></i></span>{% endif %}</a>
													{% if (revtheme_dop_menu['children'] is defined) %}
														<div class="collapse list-group-submenu">
															<ul class="list-unstyled">
																{% for child in revtheme_dop_menu['children'] %}
																	<li>
																		<a href="{{ child['href'~config_language_id] != '' ? child['href'~config_language_id] : '#'}}" {{ child['href'~config_language_id] != '' ? '' : "onclick='return false;'" }} rel="nofollow">{{ child['name'~config_language_id] }} {% if (tri_level and child['children'] is defined) %}<span class="chevrond" data-toggle="collapse"><i class="fa fa-plus on"></i><i class="fa fa-minus off"></i></span>{% endif %}</a>
																		{% if (tri_level and child['children'] is defined) %}
																			<div class="collapse list-group-submenu">
																				<ul class="list-unstyled">
																					{% for child in child['children'] %}
																						<li><a href="{{ child['href'~config_language_id] }}" rel="nofollow">- {{ child['name'~config_language_id] }}</a></li>
																					{% endfor %}
																				</ul>
																			</div>
																		{% endif %}
																	</li>
																{% endfor %} 
															</ul>
														</div>
													{% endif %} 
												</li>
											{% endfor %}
										{% endif %} 
										{% if (cats_status) %} 
											{% for category in categories %} 
												<li>
													<a href="{{ category['href'] }}" rel="nofollow">{{ category['name'] }}{% if (category['children']) %}<span class="chevrond" data-toggle="collapse"><i class="fa fa-plus on"></i><i class="fa fa-minus off"></i></span>{% endif %}</a>
													{% if (category['children']) %} 
														<div class="collapse list-group-submenu">
															<ul class="list-unstyled">
																{% for child in category['children'] %} 
																	<li>
																		<a href="{{ child['href'] }}" rel="nofollow">{{ child['name'] }}{% if (tri_level and child['children']) %}<span class="chevrond" data-toggle="collapse"><i class="fa fa-plus on"></i><i class="fa fa-minus off"></i></span>{% endif %}</a>
																		{% if (tri_level and child['children']) %} 
																			<div class="collapse list-group-submenu">
																				<ul class="list-unstyled">
																					{% for child in child['children'] %} 
																						<li><a href="{{ child['href'] }}" rel="nofollow">- {{ child['name'] }}</a></li>
																					{% endfor %} 
																				</ul>
																			</div>
																		{% endif %} 
																	</li>
																{% endfor %} 
															</ul>
														</div>
													{% endif %} 
												</li>
											{% endfor %} 
										{% endif %} 
				{% if (setting_all_settings['mobile_header'] and (informations2 or revtheme_header_links2)) %} 
							</ul>
						</div>
					</li>
				{% endif %} 
				{% if (manuf_status) %} 
					{% if (categories_m) %} 
						<li>
							<a href="{{ url_revmenu_manufs }}" rel="nofollow">{{ text_revmenu_manufs }}<span class="chevrond" data-toggle="collapse"><i class="fa fa-plus on"></i><i class="fa fa-minus off"></i></span></a>
							<div class="collapse list-group-submenu">
								<ul class="list-unstyled">
									{% for category in categories_m %} 
											{% if (category['manufacturer']) %} 
												{% for manufacturers in category['manufacturer'] %} 
													<li><a href="{{ manufacturers['href'] }}" rel="nofollow">{{ manufacturers['name'] }}</a></li>
												{% endfor %} 
											{% endif %} 
									{% endfor %} 
								</ul>
							</div>
						</li>
					{% endif %} 
				{% endif %} 
				{% if (revtheme_header_menu_links) %} 
					{% for revtheme_header_menu_link in revtheme_header_menu_links %} 
						<li><a href="{{ revtheme_header_menu_link['link'] }}" rel="nofollow">{{ revtheme_header_menu_link['title'] }}</a></li>
					{% endfor %} 
				{% endif %} 
				{% if (setting_all_settings['mobile_header'] and (informations2 or revtheme_header_links2)) %} 
					{% if (informations2) %} 
						{% for information2 in informations2 %} 
							<li><a href="{{ information2['href'] }}" rel="nofollow">{{ information2['title'] }}</a></li>
						{% endfor %} 
					{% endif %} 
					{% if (revtheme_header_links2) %} 
						{% for revtheme_header_link2 in revtheme_header_links2 %} 
							<li><a href="{{ revtheme_header_link2['link'] }}" rel="nofollow">{{ revtheme_header_link2['title'] }}</a></li>
						{% endfor %} 
					{% endif %} 
				{% endif %} 
				{% if (revblog_status and blog_categories) %} 
					{% for category in blog_categories %} 
						<li>
							<a href="{{ category['href'] }}" rel="nofollow">{{ category['name'] }}{% if (category['children']) %}<span class="chevrond" data-toggle="collapse"><i class="fa fa-plus on"></i><i class="fa fa-minus off"></i></span>{% endif %}</a>
							{% if (category['children']) %} 
								<div class="collapse list-group-submenu">
									<ul class="list-unstyled">
										{% for child in category['children'] %} 
											<li>
												<a href="{{ child['href'] }}" rel="nofollow">{{ child['name'] }}{% if (tri_level and child['children']) %}<span class="chevrond" data-toggle="collapse"><i class="fa fa-plus on"></i><i class="fa fa-minus off"></i></span>{% endif %}</a>
												{% if (child['children']) %} 
													<div class="collapse list-group-submenu">
														<ul class="list-unstyled">
															{% for child in child['children'] %} 
																<li><a href="{{ child['href'] }}" rel="nofollow">- {{ child['name'] }}</a></li>
															{% endfor %} 
														</ul>
													</div>
												{% endif %} 
											</li>
										{% endfor %} 
									</ul>
								</div>
							{% endif %} 
						</li>
					{% endfor %} 
				{% endif %} 
			</ul>
		</div>
	</nav>
	<nav class="mobilemenu navmenu moblinks navmenu-default navmenu-fixed-left offcanvas">
		<div class="collapse navbar-collapse navbar-ex1-collapse">
		  <ul class="nav navbar-nav">
			<li><button data-toggle="offcanvas" data-target=".moblinks" data-canvas="body">{{ text_header_back }}<i class="fa fa-chevron-right"></i></button></li>
			{% for information in informations %} 
				<li><a href="{{ information['href'] }}" rel="nofollow">{{ information['title'] }}</a></li>
			{% endfor %} 
			{% if (revtheme_header_links) %} 
				{% for revtheme_header_link in revtheme_header_links %} 
					<li><a href="{{ revtheme_header_link['link'] }}" rel="nofollow">{{ revtheme_header_link['title'] }}</a></li>
				{% endfor %} 
			{% endif %} 
			{% if (revtheme_dop_menus_2) %} 
				{% for revtheme_dop_menu in revtheme_dop_menus_2 %} 
					<li>
						<a href="{{ revtheme_dop_menu['href'~config_language_id] }}" rel="nofollow">{{ revtheme_dop_menu['name'~config_language_id] }} {% if (revtheme_dop_menu['children'] is defined) %}<span class="chevrond" data-toggle="collapse"><i class="fa fa-plus on"></i><i class="fa fa-minus off"></i></span>{% endif %}</a>
						{% if (revtheme_dop_menu['children'] is defined) %} 
							<div class="collapse list-group-submenu">
								<ul class="list-unstyled">
									{% for child in revtheme_dop_menu['children'] %} 
										<li><a href="{{ child['href'~config_language_id] }}" rel="nofollow">{{ child['name'~config_language_id] }}</a></li>
									{% endfor %}
								</ul>
							</div>
						{% endif %}
					</li>
				{% endfor %} 
			{% endif %} 
			{% if (revtheme_dop_menus_3) %} 
				{% for revtheme_dop_menu in revtheme_dop_menus_3 %} 
					<li>
						<a href="{{ revtheme_dop_menu['href'~config_language_id] }}" rel="nofollow">{{ revtheme_dop_menu['name'~config_language_id] }} {% if (revtheme_dop_menu['children'] is defined) %}<span class="chevrond" data-toggle="collapse"><i class="fa fa-plus on"></i><i class="fa fa-minus off"></i></span>{% endif %}</a>
						{% if (revtheme_dop_menu['children'] is defined) %} 
							<div class="collapse list-group-submenu">
								<ul class="list-unstyled">
									{% for child in revtheme_dop_menu['children'] %} 
										<li><a href="{{ child['href'~config_language_id] }}" rel="nofollow">{{ child['name'~config_language_id] }}</a></li>
									{% endfor %}
								</ul>
							</div>
						{% endif %}
					</li>
				{% endfor %} 
			{% endif %} 
			<li class="foroppro_mob" style="display:none;"></li>
		  </ul>
		</div>
	</nav>
	<script><!--
	$(".mobilemenu .chevrond").click(function () {
		$(this).siblings(".collapsible").toggle();
		$(this).toggleClass("hided");
		$(this).parent().next().toggleClass("in");
	});
	--></script>
</div>
<!--/noindex-->
{% endif %} 
{% if (not setting_all_settings['all_document_width'] and not setting_all_settings['all_document_h_f_width']) %} 
<div id="all_document">
{% endif %} 
<header>
	{% if (informations or revtheme_header_links or revtheme_dop_menus_2 or revtheme_dop_menus_3 or rev_lang or rev_curr or rev_srav or rev_wish or rev_acc or setting_all_settings['mobile_header']) %} 
	<div id="top">
		<div class="container">
			{% if (setting_all_settings['mobile_header'] and is_mobile) %} 
				<div class="hidden-sm hidden-md hidden-lg">{{ cart_mobi }}</div>
			{% endif %} 
			{% if (informations or revtheme_header_links or revtheme_dop_menus_2 or revtheme_dop_menus_3 or setting_all_settings['mobile_header']) %} 
				{% if (is_mobile) %} 
				<div class="hidden-sm hidden-md hidden-lg mobile_info">
					<div class="navbar navbar-default pull-left">
						{% if (setting_all_settings['mobile_header']) %} 
							{% if (setting_all_settings['mobile_header'] == '2') %} 
								<a class="mobil_mmenu_three" href="#mobil_mmenu"><i class="fa fa-bars"></i></a>
							{% else %} 
								<button type="button" class="navbar-toggle" data-toggle="offcanvas"
								data-target=".navmenu.mobcats" data-canvas="body">
								<i class="fa fa-bars"></i>
								</button>
							{% endif %} 
							{% if ((informations or revtheme_header_links or revtheme_dop_menus_2 or revtheme_dop_menus_3) and setting_all_settings['mobile_header'] != '2') %} 
								<button type="button" class="navbar-toggle" data-toggle="offcanvas"
								data-target=".navmenu.moblinks" data-canvas="body">
								<i class="fa fa-info"></i>
								</button>
							{% endif %} 
						{% else %} 
							{% if (informations or revtheme_header_links or revtheme_dop_menus_2 or revtheme_dop_menus_3) %} 
								<button type="button" class="navbar-toggle" data-toggle="offcanvas"
								data-target=".navmenu.moblinks" data-canvas="body">
								<i class="fa fa-info" aria-hidden="true"></i>
								<span class="hidden-xs">{{ text_header_information }}</span>
								<i class="fa fa-chevron-left"></i>
								</button>
							{% endif %} 
						{% endif %} 
					</div>
				</div>
				{% endif %} 
				<div class="top-links hidden-xs verh nav pull-left text-center">
					{% for information in informations %} 
						<a href="{{ information['href'] }}">{{ information['title'] }}</a>
					{% endfor %} 
					{% if (revtheme_header_links) %} 
						{% for revtheme_header_link in revtheme_header_links %} 
							<a href="{{ revtheme_header_link['link'] }}">{{ revtheme_header_link['title'] }}</a>
						{% endfor %} 
					{% endif %} 
					{% if (revtheme_dop_menus_2) %} 
						<ul class="list-inline ul_dop_menu">
							{% for revtheme_dop_menu in revtheme_dop_menus_2 %} 
								{% if (revtheme_dop_menu['children'] is defined) %} 
									<li class="dropdown"><a href="{{ revtheme_dop_menu['href'~config_language_id] }}" class="dropdown-toggle" data-toggle="dropdown">{{ revtheme_dop_menu['name'~config_language_id] }}<i class="fa fa-chevron-down strdown"></i></a>
										<ul class="dropdown-menu dropdown-menu-right">
											{% for child in revtheme_dop_menu['children'] %}
												<li><a href="{{ child['href'~config_language_id] }}">{{ child['name'~config_language_id] }}</a></li>
											{% endfor %}
										</ul>
									</li>
								{% else %}
									<li><a href="{{ revtheme_dop_menu['href'~config_language_id] }}">{{ revtheme_dop_menu['name'~config_language_id] }}</a></li>
								{% endif %}
							{% endfor %}
						</ul>
					{% endif %} 
					<span class="foroppro" style="display:none;"></span>
				</div>
			{% endif %} 
			{% if (rev_lang or rev_curr or rev_srav or rev_wish or rev_acc) %} 
				<div class="top-links verh nav pull-right {% if ((revtheme_header_links and informations) and ((informations|length + revtheme_header_links|length) > 4)) %}text_ico_skrit{% endif %}">
					<ul class="list-inline">
						{% if (rev_lang) %}{{ language }}{% endif %} 
						{% if (rev_curr) %}{{ currency }}{% endif %} 
						{% if (rev_srav) %}<li><a href="{{ compare }}" class="dropdown-toggle"><span id="compare-total">{{ text_compare }}</span></a></li>{% endif %} 
						{% if (rev_wish) %}<li><a href="{{ wishlist }}" class="dropdown-toggle"><span id="wishlist-total">{{ text_wishlist }}</span></a></li>{% endif %} 
						{% if (rev_acc) %} 
							<li class="dropdown {% if (rev_acc and setting_all_settings['mobile_header'] == '2') %}hidden-xs{% endif %}"><a href="{{ account }}" title="{{ text_revlogged }}" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <span class="hidden-xs hidden-sm">{{ text_revlogged }}</span><i class="fa fa-chevron-down strdown"></i></a>
								<ul class="dropdown-menu dropdown-menu-right">
								{% if (logged) %} 
									<li><a href="{{ account }}">{{ text_account }}</a></li>
									{% if (setting_all_settings['revaccount_orders'] is defined and setting_all_settings['revaccount_orders']) %} 
										<li><a href="{{ order }}">{{ text_rev_text_order }}</a></li>
									{% endif %} 
									{% if (setting_all_settings['revaccount_files'] is defined and setting_all_settings['revaccount_files']) %} 
										<li><a href="{{ download }}">{{ text_rev_text_download }}</a></li>
									{% endif %} 
									<li><a href="{{ logout }}">{{ text_logout }}</a></li>
								{% else %} 
									{% if (popup_login) %} 
										<li><a href="javascript:void(0);" onclick="get_revpopup_login();">{{ text_login }}</a></li>
									{% else %} 
										<li><a href="{{ login }}">{{ text_login }}</a></li>
									{% endif %} 
									<li><a href="{{ register }}">{{ text_register }}</a></li>
								{% endif %} 
								</ul>
							</li>
						{% endif %} 
					</ul>
				</div>
			{% endif %} 
		</div>
	</div>
	{% endif %} 
	<div id="top2">
	  <div class="container">
		<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-3">
			<div id="logo">
			  {% if (logo) %} 
				{% if (home == og_url) %} 
				  <img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" />
				{% else %} 
				  <a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>
				{% endif %} 
			  {% else %} 
				<a href="{{ home }}">{{ name }}</a>
			  {% endif %} 
			</div>
		</div>
		{% if (is_desctope) %} 
		<div class="hidden-xs hidden-sm bigsearch {% if (header_phone_number != '' or header_phone_text != '') %}{% if (revtheme_header_cart['cart_position'] is defined and revtheme_header_cart['cart_position']) %}col-xs-12 col-sm-4 col-md-4{% else %}col-xs-12 col-sm-6 col-md-6{% endif %}{% else %}{% if (revtheme_header_cart['cart_position'] is defined and revtheme_header_cart['cart_position']) %}col-xs-12 col-sm-7 col-md-7 col-lg-7{% else %}col-xs-12 col-sm-9 col-md-9 col-lg-9{% endif %}{% endif %}">
			{% if (header_search_doptext) %} 
				<div class="header_search_doptext">
					{{ header_search_doptext }} 
				</div>
				{% if (setting_header_search['ch_text_w_serch']) %} 
					{{ search }} 
				{% endif %} 
			{% else %} 
				{{ search }} 
			{% endif %} 
		</div>
		{% endif %} 
		{% if (header_phone_number != '' or header_phone_text != '') %} 
			<div class="col-xs-12 col-sm-6 col-md-3 {% if (setting_all_settings['mobile_header'] == '2') %}hidden-xs{% endif %}">
				<div class="header_conts t-ar">
					<div class="tel">
						{% if (header_phone_number != '' or header_phone_number2 != '') %} 
							<span class="header_phone_image">{{ header_phone_image }}</span>
						{% endif %} 
						<div class="header_phone_nomer">
							{% if (header_phone_text != '') %} 
								<span class="s11">{{ header_phone_text }}</span>
								{% if (header_phone_text2) %} 
									<span class="s12">{{ header_phone_text2 }}</span>
								{% endif %} 
							{% endif %} 
							{% if (header_phone_number != '' or header_phone_number2 != '') %} 
								{% if (revtheme_header_popupphone['status'] and not revtheme_header_popupphone['under_phone'] or dop_contacts or phone_dop_text|length > 30) %} 
								<button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
									<span class="s22">
										{% if (header_phone_cod) %}<span class="telefon">{{ header_phone_cod }}</span>{% endif %} {{ header_phone_number }}{% if (header_phone_number2) %}<br>
											{% if (header_phone_cod2) %}<span class="telefon">{{ header_phone_cod2 }}</span>{% endif %} {{ header_phone_number2 }}{% endif %} 
										{% if (revtheme_header_popupphone['status'] and not revtheme_header_popupphone['under_phone'] or dop_contacts or phone_dop_text|length > 30) %} 
										<i class="fa fa-chevron-down"></i>
										{% endif %} 
									</span>
								</button>
								{% else %} 
									<span class="s22">
										<a href="tel:{{ header_phone_cod is defined ? header_phone_cod : '' }}{{ header_phone_number }}">{% if (header_phone_cod) %}<span class="telefon">{{ header_phone_cod }}</span>{% endif %} {{ header_phone_number }}</a>{% if (header_phone_number2) %}<br>
											<a href="tel:{{ header_phone_cod2 is defined ? header_phone_cod2 : '' }}{{ header_phone_number2 }}">{% if (header_phone_cod2) %}<span class="telefon">{{ header_phone_cod2 }}</span>{% endif %} {{ header_phone_number2 }}</a>{% endif %} 
										{% if (revtheme_header_popupphone['status'] and not revtheme_header_popupphone['under_phone'] or dop_contacts or phone_dop_text|length > 30) %} 
										<i class="fa fa-chevron-down"></i>
										{% endif %} 
									</span>
								{% endif %} 
							{% endif %} 
							{% if (revtheme_header_popupphone['status'] and not revtheme_header_popupphone['under_phone'] or dop_contacts or phone_dop_text|length > 30) %} 
								<ul class="dropdown-menu dropdown-menu-right dop_contss">
									{% if (revtheme_header_popupphone['status'] and not revtheme_header_popupphone['under_phone']) %} 
									<li>
										<a onclick="get_revpopup_phone();"><i class="fa fa-reply-all" aria-hidden="true"></i>{{ text_header_revpopup_phone }}</a>
									</li>
									{% endif %} 
									{% if (revtheme_header_popupphone['status'] and not revtheme_header_popupphone['under_phone'] and dop_contacts) %} 
									<li class="divider"></li>
									{% endif %} 
									{% if (dop_contacts) %} 
										{% for dop_contact in dop_contacts %} 
											{% if (dop_contact['href']) %} 
												<li><a href="{{ dop_contact['href'] }}"><span>{{ dop_contact['icon'] }}<span>{{ dop_contact['number'] }}</span></span></a></li>
											{% else %} 
												<li><span>{{ dop_contact['icon'] }}<span>{{ dop_contact['number'] }}</span></span></li>
											{% endif %} 
										{% endfor %} 
									{% endif %} 
									{% if (phone_dop_text|length > 30) %} 
										<div class="phone_dop_text">
											{{ phone_dop_text }} 
										</div>
									{% endif %} 
								</ul>	
							{% endif %} 
						</div>
					</div>
					{% if (revtheme_header_popupphone['status'] and revtheme_header_popupphone['under_phone']) %} 
						<span class="header_under_phone"><a onclick="get_revpopup_phone();"><i class="fa fa-reply-all" aria-hidden="true"></i>{{ text_header_revpopup_phone }}</a></span>
					{% endif %} 
					{% if (phone_dop_text2|length > 30) %} 
						<div class="phone_dop_text2">
							{{ phone_dop_text2 }} 
						</div>
					{% endif %} 
				</div>
			</div>
		{% endif %} 
		{% if (revtheme_header_cart['cart_position'] is defined and revtheme_header_cart['cart_position']) %} 
			{% if (is_desctope) %} 
			<div class="cartintop2 col-sm-2 col-md-2 hidden-xs hidden-sm">
				{{ cart }} 
			</div>
			{% endif %} 
		{% endif %}
		{% if (is_mobile) %} 
		<div class="hidden-md hidden-lg mobsearch col-xs-12 col-sm-12">
			<!--noindex-->
			{% if (header_search_doptext) %} 
				<div class="header_search_doptext">
					{{ header_search_doptext }} 
				</div>
				{% if (setting_header_search['ch_text_w_serch']) %} 
					{{ search }} 
				{% endif %} 
			{% else %} 
				{{ search }} 
			{% endif %} 
			<!--/noindex-->
		</div>
		{% endif %} 
		</div>
	  </div>
	</div>  
	{% if (is_mobile) %} 
	<!--noindex-->
	{% if (not setting_all_settings['mobile_header']) %} 
		<div id="top3_links" class="clearfix hidden-md hidden-lg">
			<div class="container">
				<div class="row">
					<div class="top-links col-xs-12">
							<ul class="list-inline">
								{% for information in informations2 %} 
									<li><a href="{{ information['href'] }}" rel="nofollow">{{ information['title'] }}</a></li>
								{% endfor %} 
								{% if (revtheme_header_links2) %} 
									{% for revtheme_header_link2 in revtheme_header_links2 %} 
										<li><a href="{{ revtheme_header_link2['link'] }}" rel="nofollow">{{ revtheme_header_link2['title'] }}</a></li>
									{% endfor %} 
								{% endif %} 
							</ul>
					</div>
				</div>
			</div>
		</div>
	{% endif %} 
	<!--/noindex-->
	{% endif %} 
	<div id="top3" class="clearfix {% if (setting_all_settings['mobile_header']) %}hidden-xs{% endif %}">
		<div class="container">
			<div class="row image_in_ico_row">
				{% if (amazon) %} 
				<div class="col-xs-6 col-md-3">
					{{ revmenu }} 
				</div>
				{% if (is_desctope) %} 
				<div class="top-links nav norazmivcont hidden-xs hidden-sm {{ cart_size_class_1 }}">
					<ul class="list-inline">
						{% for information in informations2 %} 
							<li><a href="{{ information['href'] }}">{{ information['title'] }}</a></li>
						{% endfor %} 
						{% if (revtheme_header_links2) %} 
							{% for revtheme_header_link2 in revtheme_header_links2 %} 
								<li><a href="{{ revtheme_header_link2['link'] }}">{{ revtheme_header_link2['title'] }}</a></li>
							{% endfor %} 
						{% endif %} 
					</ul>
					{% if (revtheme_dop_menus_3) %} 
						<nav id="menu">
							<div class="collapse navbar-collapse navbar-ex1-collapse">
								<ul class="nav dblock_zadergkaoff navbar-nav">
									{% for revtheme_dop_menu in revtheme_dop_menus_3 %} 
										{% if (revtheme_dop_menu['children'] is defined) %} 
											<li><a href="{{ revtheme_dop_menu['href'~config_language_id] != '' ? revtheme_dop_menu['href'~config_language_id] : '#' }}" {{ revtheme_dop_menu['href'~config_language_id] != '' ? '' : "onclick='return false;'" }}>{% if (revtheme_dop_menu['icontype'] == 'iconka') %} <span class="am_category_image"><i class="{{ revtheme_dop_menu['dop_menu_iconka_3'] }}"></i></span> {% else %} {% if (revtheme_dop_menu['dop_menu_image_3']) %} <span class="am_category_image"><img src="{{ revtheme_dop_menu['dop_menu_image_3'] }}" alt=""></span> {% endif %} {% endif %} {{ revtheme_dop_menu['name'~config_language_id] }}<span class="icorightmenu"><i class="fa fa-chevron-down"></i></span></a>
											<span class="dropdown-toggle visible-xs visible-sm"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></span>
											  <div class="mmmenu" {% if (image_in_ico_dop3) %} 'style="position: initial"' {% endif %} >
												    <div class="dropdown-menu">
														<div class="dropdown-inner">
															{% if (image_in_ico_dop3) %}
																<div class="image_in_ico_dop3_{{ revtheme_dop_menu['id'] }} }} refine_categories clearfix">
																	{% for child in revtheme_dop_menu['children'] %} 
																		<a class="col-sm-3 col-lg-3" href="{{ child['href'~config_language_id] }}">
																			<img src="{{ child['dop_menu_image_3'] }}" alt="{{ child['name'~config_language_id] }}" /><span>{{ child['name'~config_language_id] }}</span>
																		</a>
																	{% endfor %}
																</div>
															{% else %}
																{% for children in revtheme_dop_menu['children']|batch((revtheme_dop_menu['children']|length / revtheme_dop_menu['column'])|round) %}
																	<ul class="list-unstyled">
																	{% for child in children %} 
																	<li><a href="{{ child['href'~config_language_id] }}">{% if (child['icontype'] == 'iconka') %} <span class="am_category_image"><i class="{{ child['dop_menu_iconka_3'] }}"></i></span> {% else %} {% if (child['dop_menu_image_3']) %} <span class="am_category_image"><img src="{{ child['dop_menu_image_3'] }}" alt=""></span> {% endif %} {% endif %} {{ child['name'~config_language_id] }}</a>
																		{% if (tri_level and child['children'] is defined) %}
																		<span class="visible-xs visible-sm"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></span>
																			<div class="dropdown-menu">
																			<div class="dropdown-inner">
																			<ul class="list-unstyled">
																			{% for child in child['children'] %} 
																				<li><a href="{{ child['href'~config_language_id] }}"><i class="fa fa-minus"></i>{{ child['name'~config_language_id] }}</a></li>
																			{% endfor %}
																			</ul>
																			</div>
																			</div>
																		{% endif %}
																	</li>
																	{% endfor %} 
																	</ul>
																{% endfor %} 
															{% endif %} 
														</div>
													</div>
												</div>
											</li>
										 {% else %} 
											<li><a href="{{ revtheme_dop_menu['href'~config_language_id] != '' ? revtheme_dop_menu['href'~config_language_id] : '#' }}" {{ revtheme_dop_menu['href'~config_language_id] != '' ? '' : "onclick='return false;'" }}>{% if (revtheme_dop_menu['icontype'] == 'iconka') %} <span class="am_category_image"><i class="{{ revtheme_dop_menu['dop_menu_iconka_3'] }}"></i></span> {% else %}  {% if (revtheme_dop_menu['dop_menu_image_3']) %} <span class="am_category_image"><img src="{{ revtheme_dop_menu['dop_menu_image_3'] }}" alt=""></span> {% endif %} {% endif %} {{ revtheme_dop_menu['name'~config_language_id] }}</a></li>
										{% endif %} 
									{% endfor %} 	
								</ul>
							</div>
						</nav>
					{% endif %} 
					{% if (revblog_status and not revblog_in_amazon) %} 
						<nav id="menu">
							<div class="collapse navbar-collapse navbar-ex1-collapse">
								<ul class="nav dblock_zadergkaoff navbar-nav">
									{% for category in blog_categories %} 
										{% if (category['children']) %} 
											<li><a href="{{ category['href'] }}">{{ category['name'] }}<span class="icorightmenu"><i class="fa fa-chevron-down"></i></span></a>
											<span class="dropdown-toggle visible-xs visible-sm"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></span>
											  <div class="mmmenu" {% if (image_in_ico_revblog) %} {{ 'style="position: initial"' }}{% endif %}>
												    <div class="dropdown-menu">
														<div class="dropdown-inner">
															{% if (image_in_ico_revblog) %} 
																<div class="image_in_ico_revblog_{{ category['category_id'] }} refine_categories clearfix">
																	{% for child in category['children'] %} 
																		<a class="col-sm-3 col-lg-3" href="{{ child['href'] }}">
																			<img src="{{ child['thumb'] }}" title="{{ child['name'] }}" alt="{{ child['name'] }}" /><span>{{ child['name'] }}</span>
																		</a>
																	{% endfor %} 
																</div>
															{% else %} 
																{% for children in category['children']|batch((category['children']|length / revblog_column)|round) %} 
																	<ul class="list-unstyled">
																	{% for child in children %} 
																	<li><a href="{{ child['href'] }}">{{ child['name'] }}</a>
																		{% if (child['children']) %} 
																		<span class="visible-xs visible-sm"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></span>
																			<div class="dropdown-menu">
																			<div class="dropdown-inner">
																			<ul class="list-unstyled">
																			{% for child in child['children'] %} 
																				<li><a href="{{ child['href'] }}"><i class="fa fa-minus"></i>{{ child['name'] }}</a></li>
																			{% endfor %} 
																			</ul>
																			</div>
																			</div>
																		{% endif %} 
																	</li>
																	{% endfor %} 
																	</ul>
																{% endfor %} 
															{% endif %} 
														</div>
													</div>
												</div>
											</li>
										{% else %} 
											<li><a href="{{ category['href'] }}">{{ category['name'] }}</a></li>
										{% endif %} 
									{% endfor %} 
								</ul>
							</div>
						</nav>
					{% endif %} 
				</div>
				{% endif %} 
				{% else %} 
				    {% if (is_mobile) %} 
					<div class="col-xs-6 hidden-md hidden-lg">
						<div id="menu2_button" class="page-fader inhome">
							{% if (setting_all_settings['mobile_header'] == '2') %} 
								<a class="box-heading" href="#mobil_mmenu"><i class="fa fa-bars"></i>{{ text_header_menu2_heading }}<span class="icorightmenu"><i class="fa fa-chevron-down"></i></span></a>
							{% else %} 
								<div class="box-heading" data-toggle="offcanvas" data-target=".navmenu.mobcats" data-canvas="body"><i class="fa fa-bars"></i>{{ text_header_menu2_heading }}<span class="icorightmenu"><i class="fa fa-chevron-down"></i></span></div>
							{% endif %} 
						</div>
					</div>
					{% endif %} 
					{% if (is_desctope) %} 
					<div class="hidden-xs hidden-sm {{ cart_size_class_3 }}">
						<nav id="menu">
							<div class="collapse navbar-collapse navbar-ex1-collapse">
							  <ul class="nav dblock_zadergkaoff navbar-nav">
								{% if (revtheme_dop_menus) %} 
									{% for revtheme_dop_menu in revtheme_dop_menus %} 
										{% if (revtheme_dop_menu['children'] is defined) %} 
											<li>
											{% if (revtheme_dop_menu['href'~config_language_id] != '') %}
												<a href="{{ revtheme_dop_menu['href'~config_language_id] }}">{% if (revtheme_dop_menu['icontype'] == 'iconka' and revtheme_dop_menu['dop_menu_iconka'] is defined) %} <span class="am_category_image"><i class="{{ revtheme_dop_menu['dop_menu_iconka'] }}"></i></span> {% else %} {% if (revtheme_dop_menu['dop_menu_image']) %} <span class="am_category_image"><img src="{{ revtheme_dop_menu['dop_menu_image'] }}" alt=""></span> {% endif %} {% endif %} {{ revtheme_dop_menu['name'~config_language_id] }}<span class="icorightmenu"><i class="fa fa-chevron-down"></i></span></a>
											 {% else %}
												<span class="without_a">
													{% if (revtheme_dop_menu['icontype'] == 'iconka' and revtheme_dop_menu['dop_menu_iconka'] is defined) %} <span class="am_category_image"><i class="{{ revtheme_dop_menu['dop_menu_iconka'] }}"></i></span> {% else %} {% if (revtheme_dop_menu['dop_menu_image']) %} <span class="am_category_image"><img src="{{ revtheme_dop_menu['dop_menu_image'] }}" alt=""></span> {% endif %} {% endif %}{{ revtheme_dop_menu['name'~config_language_id] }}<span class="icorightmenu"><i class="fa fa-chevron-down"></i></span>
												</span>
											{% endif %}
											<span class="dropdown-toggle visible-xs visible-sm"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></span>
											  <div class="mmmenu" {% if (image_in_ico) %} {{ 'style="position: initial"' }}{% endif %}>
												  <div class="dropdown-menu">
													<div class="dropdown-inner">
													{% if (image_in_ico) %}

													{% else %}
														{% for children in revtheme_dop_menu['children']|batch((revtheme_dop_menu['children']|length / revtheme_dop_menu['column'])|round) %}
															<ul class="list-unstyled">
															{% for child in children %} 
															<li><a href="{{ child['href'~config_language_id] != '' ? child['href'~config_language_id] : '#' }}" {{ child['href'~config_language_id] != '' ? '' : "onclick='return false;' class='cursor_default_menu'" }} >{% if (child['icontype'] == 'iconka') %} <span class="am_category_image"><i class="{{ child['dop_menu_iconka'] }}"></i></span> {% else %} {% if (child['dop_menu_image']) %} <span class="am_category_image"><img src="{{ child['dop_menu_image'] }}" alt=""></span> {% endif %} {% endif %} {{ child['name'~config_language_id] }}</a>
																{% if (tri_level and child['children'] is defined) %}
																<span class="visible-xs visible-sm"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></span>
																	<div class="dropdown-menu">
																	<div class="dropdown-inner">
																	<ul class="list-unstyled">
																	{% for child in child['children'] %}
																		<li><a href="{{ child['href'~config_language_id] }}"><i class="fa fa-minus"></i>{{ child['name'~config_language_id] }}</a></li>
																	{% endfor %}
																	</ul>
																	</div>
																	</div>
																{% endif %}
															</li>
															{% endfor %}
															</ul>
														{% endfor %}
													{% endif %} 
													</div>
													</div>
												</div>
											</li>
										{% else %} 
											<li>
												{% if (revtheme_dop_menu['href'~config_language_id] != '') %}
													<a href="{{ revtheme_dop_menu['href'~config_language_id] }}">{% if (revtheme_dop_menu['icontype'] == 'iconka' and revtheme_dop_menu['dop_menu_iconka'] is defined) %} <span class="am_category_image"><i class="{{ revtheme_dop_menu['dop_menu_iconka'] }}"></i></span> {% else %} {% if (revtheme_dop_menu['dop_menu_image']) %} <span class="am_category_image"><img src="{{ revtheme_dop_menu['dop_menu_image'] }}" alt=""></span> {% endif %} {% endif %} {{ revtheme_dop_menu['name'~config_language_id] }}</a>
												 {% else %}
													<span class="without_a">
														{% if (revtheme_dop_menu['icontype'] == 'iconka' and revtheme_dop_menu['dop_menu_iconka'] is defined) %} <span class="am_category_image"><i class="{{ revtheme_dop_menu['dop_menu_iconka'] }}"></i></span> {% else %} {% if (revtheme_dop_menu['dop_menu_image']) %} <span class="am_category_image"><img src="{{ revtheme_dop_menu['dop_menu_image'] }}" alt=""></span> {% endif %} {% endif %}{{ revtheme_dop_menu['name'~config_language_id] }}
													</span>
												{% endif %}
											</li>
										{% endif %} 
									{% endfor %}
								{% endif %}  
							    {% if (cats_status) %} 
									{% if categories %}
										{% for category in categories %} 
											{% if (category['children']) %} 
												<li><a href="{{ category['href'] }}">{% if (category['category_image']) %} {{ category['category_image'] }} {% endif %}{{ category['name'] }}<span class="icorightmenu"><i class="fa fa-chevron-down"></i></span></a>
												<span class="dropdown-toggle visible-xs visible-sm"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></span>
												  <div class="mmmenu" {% if (image_in_ico) %} {{ 'style="position: initial"' }}{% endif %}>
													  <div class="dropdown-menu">
														<div class="dropdown-inner">
														{% if (image_in_ico) %} 
															<div class="image_in_ico_{{ category['category_id'] }} refine_categories clearfix">
																{% for child in category['children'] %} 
																	<a class="col-sm-2 col-lg-2" href="{{ child['href'] }}">
																		<img src="{{ child['thumb'] }}" title="{{ child['name'] }}" alt="{{ child['name'] }}" /><span>{{ child['name'] }}</span>
																	</a>
																{% endfor %} 
															</div>
														{% else %} 
															{% for children in category['children']|batch((category['children']|length / category['column'])|round) %} 
																<ul class="list-unstyled {% if (category['column']) %} {{ 'column' }}{% endif %}">
																{% for child in children %} 
																<li><a href="{{ child['href'] }}">{% if (child['category_image']) %} {{ child['category_image'] }} {% endif %}{{ child['name'] }}</a>
																	{% if (tri_level and child['children']) %} 
																	<span class="visible-xs visible-sm"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></span>
																		<div class="dropdown-menu">
																		<div class="dropdown-inner">
																		<ul class="list-unstyled">
																		{% for child in child['children'] %} 
																			<li><a href="{{ child['href'] }}"><i class="fa fa-minus"></i>{{ child['name'] }}</a></li>
																		{% endfor %} 
																		</ul>
																		</div>
																		</div>
																	{% endif %} 
																</li>
																{% endfor %} 
																</ul>
															{% endfor %} 
														{% endif %}  
														{% if (category['thumb2']) %} 
															<img class="img_sub" src="{{ category['thumb2'] }}" alt="{{ category['name'] }}" />	
														{% endif %} 
														</div>
														</div>
													</div>
												</li>
											{% else %} 
												<li><a href="{{ category['href'] }}">{% if (category['category_image']) %} {{ category['category_image'] }} {% endif %}{{ category['name'] }}</a></li>
											{% endif %} 
										{% endfor %} 
									{% endif %} 
								{% endif %} 
								{% if (manuf_status) %} 
									{% if (categories_m) %} 
										{% if (image_in_ico_m) %} 
											<li><a href="{{ url_revmenu_manufs }}">{% if (manuf_image) %} {{ manuf_image }} {% endif %}{{ text_revmenu_manufs }}<span class="icorightmenu"><i class="fa fa-chevron-down"></i></span></a>
											<span class="dropdown-toggle visible-xs visible-sm"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></span>
											  <div class="mmmenu" style="position: initial">
													<div class="dropdown-menu">
														<div class="dropdown-inner">
															<div class="image_in_ico_manufacturers refine_categories clearfix">
																{% for categorys in categories_m|batch((categories_m|length / n_column)|round) %} 
																	{% for category in categorys %} 
																		{% if (category['manufacturer']) %} 
																			{% for manufacturers in category['manufacturer'] %} 
																				<a class="col-sm-2 col-lg-2" href="{{ manufacturers['href'] }}">
																					<img src="{{ manufacturers['thumb'] }}" title="{{ manufacturers['name'] }}" alt="{{ manufacturers['name'] }}" /><span>{{ manufacturers['name'] }}</span>
																				</a>
																			{% endfor %} 
																		{% endif %} 
																	{% endfor %} 
																{% endfor %} 
															</div>
														</div>
													</div>
												</div>
											</li>
										{% else %} 
											<li><a href="{{ url_revmenu_manufs }}">{{ text_revmenu_manufs }}<span class="icorightmenu"><i class="fa fa-chevron-down"></i></span></a>
											<span class="dropdown-toggle visible-xs visible-sm"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></span>
											  <div class="mmmenu">
												  <div class="dropdown-menu">
													<div class="dropdown-inner">
														{% for categorys in categories_m|batch((categories_m|length / n_column)|round) %} 
															<ul class="list-unstyled">
																{% for category in categorys %} 
																	<li><span class="manuf_in_menu">{{ category['name'] }}</span>
																		{% if (category['manufacturer']) %} 
																			<span class="visible-xs visible-sm"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></span>
																			<div class="dropdown-menu">
																				<div class="dropdown-inner">
																					<ul class="list-unstyled">
																					{% for manufacturers in category['manufacturer'] %} 
																						<li><a href="{{ manufacturers['href'] }}"><i class="fa fa-minus"></i>{{ manufacturers['name'] }}</a></li>
																					{% endfor %} 
																					</ul>
																				</div>
																			</div>
																		{% endif %} 
																	</li>
																{% endfor %} 
															</ul>
														{% endfor %} 
													</div>
													</div>
												</div>
											</li>
										{% endif %} 
									{% endif %} 
								{% endif %} 
								{% for information in informations2 %} 
									<li><a href="{{ information['href'] }}">{{ information['title'] }}</a></li>
								{% endfor %} 
								{% if (revtheme_header_links2) %} 
									{% for revtheme_header_link2 in revtheme_header_links2 %} 
										<li><a href="{{ revtheme_header_link2['link'] }}">{{ revtheme_header_link2['title'] }}</a></li>
									{% endfor %} 
								{% endif %} 
								{% for revtheme_dop_menu in revtheme_dop_menus_3 %} 
									{% if (revtheme_dop_menu['children'] is defined) %} 
										<li>
											{% if (revtheme_dop_menu['href'~config_language_id] != '') %}
												<a href="{{ revtheme_dop_menu['href'~config_language_id] != '' ? revtheme_dop_menu['href'~config_language_id] : '#' }}">{% if (revtheme_dop_menu['icontype'] == 'iconka' and revtheme_dop_menu['dop_menu_iconka_3'] is defined) %} <i class="hidden-md {{ revtheme_dop_menu['dop_menu_iconka_3'] }}"></i> {% else %} {% if (revtheme_dop_menu['dop_menu_image_3']) %} <span class="hidden-md"><img src="{{ revtheme_dop_menu['dop_menu_image_3'] }}" alt=""></span> {% endif %} {% endif %} {{ revtheme_dop_menu['name'~config_language_id] }}<span class="icorightmenu"><i class="fa fa-chevron-down"></i></span></a>
											 {% else %}
												<span class="without_a">
													{% if (revtheme_dop_menu['icontype'] == 'iconka' and revtheme_dop_menu['dop_menu_iconka_3'] is defined) %} <i class="hidden-md {{ revtheme_dop_menu['dop_menu_iconka_3'] }}"></i> {% else %} {% if (revtheme_dop_menu['dop_menu_image_3']) %} <span class="hidden-md"><img src="{{ revtheme_dop_menu['dop_menu_image_3'] }}" alt=""></span> {% endif %} {% endif %} {{ revtheme_dop_menu['name'~config_language_id] }}<span class="icorightmenu"><i class="fa fa-chevron-down"></i></span>
												</span>
											{% endif %}
											<span class="dropdown-toggle visible-xs visible-sm"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></span>
											<div class="mmmenu" {% if (image_in_ico_dop3) %} {{ 'style="position: initial"' }}{% endif %}>
												<div class="dropdown-menu">
													<div class="dropdown-inner">
														{% if (image_in_ico_dop3) %} 
															<div class="image_in_ico_dop3_{{ revtheme_dop_menu['id'] }} refine_categories clearfix">
																{% for child in revtheme_dop_menu['children'] %} 
																	<a class="col-sm-3 col-lg-3" href="{{ child['href'~config_language_id] }}">
																		<img src="{{ child['dop_menu_image_3'] }}" alt="{{ child['name'~config_language_id] }}" /><span>{{ child['name'~config_language_id] }}</span>
																	</a>
																{% endfor %}
															</div>
														{% else %}
															{% for children in revtheme_dop_menu['children']|batch((revtheme_dop_menu['children']|length / revtheme_dop_menu['column'])|round) %}
																<ul class="list-unstyled">
																{% for child in children %} 
																<li><a href="{{ child['href'~config_language_id] }}">{% if (child['icontype'] == 'iconka' and child['dop_menu_iconka_3'] is defined) %} <i class="hidden-md {{ child['dop_menu_iconka_3'] }}"></i> {% else %} {% if (child['dop_menu_image_3']) %} <span class="hidden-md"><img src="{{ child['dop_menu_image_3'] }}" alt=""></span> {% endif %} {% endif %}{{ child['name'~config_language_id] }}</a>
																	{% if (tri_level and child['children']) %} 
																	<span class="visible-xs visible-sm"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></span>
																		<div class="dropdown-menu">
																		<div class="dropdown-inner">
																		<ul class="list-unstyled">
																		{% for child in child['children'] %} 
																			<li><a href="{{ child['href'~config_language_id] }}"><i class="fa fa-minus"></i>{{ child['name'~config_language_id] }}</a></li>
																		{% endfor %} 
																		</ul>
																		</div>
																		</div>
																	{% endif %} 
																</li>
																{% endfor %} 
																</ul>
															{% endfor %} 
														{% endif %} 
													</div>
												</div>
											</div>
										</li>
									 {% else %} 
										<li>
											{% if (revtheme_dop_menu['href'~config_language_id] != '') %}
												<a href="{{ revtheme_dop_menu['href'~config_language_id] != '' ? revtheme_dop_menu['href'~config_language_id] : '#'}}">{% if (revtheme_dop_menu['icontype'] == 'iconka' and revtheme_dop_menu['dop_menu_iconka_3'] is defined) %} <i class="hidden-md {{ revtheme_dop_menu['dop_menu_iconka_3'] }}"></i> {% else %} {% if (revtheme_dop_menu['dop_menu_image_3']) %} <span class="hidden-md"><img src="{{ revtheme_dop_menu['dop_menu_image_3'] }}" alt=""></span> {% endif %} {% endif %} {{ revtheme_dop_menu['name'~config_language_id] }}</a>
											 {% else %}
												<span class="without_a">
													{% if (revtheme_dop_menu['icontype'] == 'iconka' and revtheme_dop_menu['dop_menu_iconka_3'] is defined) %} <i class="hidden-md {{ revtheme_dop_menu['dop_menu_iconka_3'] }}"></i> {% else %} {% if (revtheme_dop_menu['dop_menu_image_3']) %} <span class="hidden-md"><img src="{{ revtheme_dop_menu['dop_menu_image_3'] }}" alt=""></span> {% endif %} {% endif %} {{ revtheme_dop_menu['name'~config_language_id] }}
												</span>
											{% endif %}
										</li>
									{% endif %} 
								{% endfor %}  
								{% if (revblog_status) %} 
									{% for category in blog_categories %} 
										{% if (category['children']) %} 
											<li><a href="{{ category['href'] }}">{{ category['name'] }}<span class="icorightmenu"><i class="fa fa-chevron-down"></i></span></a>
											<span class="dropdown-toggle visible-xs visible-sm"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></span>
											  <div class="mmmenu" {% if (image_in_ico_revblog) %} {{ 'style="position: initial"' }}{% endif %}>
												    <div class="dropdown-menu">
														<div class="dropdown-inner">
															{% if (image_in_ico_revblog) %} 
																<div class="image_in_ico_revblog_{{ category['category_id'] }} refine_categories clearfix">
																	{% for child in category['children'] %} 
																		<a class="col-sm-2 col-lg-2" href="{{ child['href'] }}">
																			<img src="{{ child['thumb'] }}" title="{{ child['name'] }}" alt="{{ child['name'] }}" /><span>{{ child['name'] }}</span>
																		</a>
																	{% endfor %} 
																</div>
															{% else %} 
																{% for children in category['children']|batch((category['children']|length / revblog_column)|round) %} 
																	<ul class="list-unstyled">
																	{% for child in children %} 
																	<li><a href="{{ child['href'] }}">{{ child['name'] }}</a>
																		{% if (child['children']) %} 
																		<span class="visible-xs visible-sm"><i class="fa fa-plus"></i><i class="fa fa-minus"></i></span>
																			<div class="dropdown-menu">
																			<div class="dropdown-inner">
																			<ul class="list-unstyled">
																			{% for child in child['children'] %} 
																				<li><a href="{{ child['href'] }}"><i class="fa fa-minus"></i>{{ child['name'] }}</a></li>
																			{% endfor %} 
																			</ul>
																			</div>
																			</div>
																		{% endif %} 
																	</li>
																	{% endfor %} 
																	</ul>
																{% endfor %} 
															{% endif %} 
														</div>
													</div>
												</div>
											</li>
										{% else %} 
											<li><a href="{{ category['href'] }}">{{ category['name'] }}</a></li>
										{% endif %} 
									{% endfor %} 
								{% endif %} 
							  </ul>
							</div>
						</nav>
						<script><!--
						{% if (image_in_ico) %} 
							$('#menu .nav > li .dropdown-menu').css('display', 'block');
							{% for category in categories %} 
								var div = '#menu .image_in_ico_{{ category['category_id'] }}.refine_categories > a span';
								var maxheight = 0;
								$(div).each(function(){
									$(this).removeAttr('style');
									if($(this).height() > maxheight) {
										maxheight = $(this).height();
									}
								});
							{% endfor %} 
							{% if (manuf_status) %} 
								var div = '.image_in_ico_manufacturers.refine_categories span';
								var maxheight = 0;
								$(div).each(function(){
									$(this).removeAttr('style');
									if($(this).height() > maxheight) {
										maxheight = $(this).height();
									}
								});
								$(div).height(maxheight);
							{% endif %} 
							$('#menu .nav > li .dropdown-menu').css('display', 'none');
						{% endif %} 
						{% if (revblog_status and image_in_ico_revblog) %} 
							{% for category in blog_categories %} 
								var div = '#menu .image_in_ico_revblog_{{ category['category_id'] }}.refine_categories > a span';
								var maxheight = 0;
								$(div).each(function(){
									$(this).removeAttr('style');
									if($(this).height() > maxheight) {
										maxheight = $(this).height();
									}
								});
							{% endfor %} 
						{% endif %} 
						{% if (revtheme_dop_menus_3 and image_in_ico_dop3) %} 
							{% for revtheme_dop_menu in revtheme_dop_menus_3 %} 
								var div = '#menu image_in_ico_dop3_{{ revtheme_dop_menu['id'] }}.refine_categories > a span';
								var maxheight = 0;
								$(div).each(function(){
									$(this).removeAttr('style');
									if($(this).height() > maxheight) {
										maxheight = $(this).height();
									}
								});
							{% endfor %} 
						{% endif %} 
						//--></script>
					</div>
					{% endif %} 
				{% endif %} 
				<div class="{{ cart_size_class_2 }}">
					{{ cart }} 
				</div>		
			</div>
		</div>
	</div>
</header>
{% if (not setting_all_settings['all_document_width'] and setting_all_settings['all_document_h_f_width']) %} 
<div id="all_document">
{% endif %} 
<section class="main-content">